{{ define "main" }}
<head>
  <!-- Link to your CSS file -->
  <link rel="stylesheet" href="{{ "css/search.css" | absURL }}">
</head>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
<script src="{{ "js/search.js" | absURL }}"></script>
<section class="resume-section p-3 p-lg-5 d-flex flex-column">
  <div class="my-auto">
    <form action="{{ "search" | absURL }}">
      <input id="search-query" name="s" />
    </form>
    <div id="search-results">
      <h3>搜索结果页</h3>
    </div>
  </div>
</section>

<!-- Search result template: this gets sucked in by search.js and appended to search-results div above -->
<script id="search-result-template" type="text/x-js-template">
  <div class="search-result-item">
    <!-- Image for the search result -->
    <img src="${image}" alt="${title}" class="search-result-img">

    <!-- Search result details -->
    <div class="search-result-details">
      <h4><a href="${link}">${title}</a></h4>
      ${ isset tags }<p>${tags}</p>${ end }
      ${ isset archives }<p>发布时间:${archives}</p>${ end }
    </div>
  </div>
</script>

{{ end }}
