<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- 你的 CSS 文件 -->
</head>
<body>

<div class="container">
    <h1>{{ .Title }}</h1>
    
    <!-- 搜索输入框 -->
    <input type="text" id="search-input" placeholder="Search..." class="search-bar">
    <ul id="results" class="search-results"></ul>
</div>

<script src="/js/lunr.min.js"></script> <!-- 引入 Lunr.js -->
<script src="/js/search.js"></script>   <!-- 自定义的搜索脚本 -->
</body>
</html>
